<div class="container">
  <h2> Users profile number <%= params[:id] %> </h2>
  <section>

    <article>
      <%= image_tag("icon.png") %>
    </article>

    <article>
      <h1> <%= @user.name %> </h1>

      <p> Number of posts: <%= @user.posts_counter || 0 %> </p>
    </article>

  </section>

  <section>
    <h2> Bio </h2>

    <p> <%= @user.bio %> </p>
  </section>

  <section>
    <% @user.three_most_recent_posts.each do |post| %>
      <article>

        <%= link_to post.title, user_post_path(@user.id, post.id) %>

        <p> <%= post.text %> </p>
        
        <div>
          <p> Comments: <%= post.comments_counter || 0 %> </p>

          <p> Likes: <%= post.likes_counter || 0 %> </p>
        </div>

      </article>
    <% end %>
  </section>

  <button> <%= link_to 'See all posts', user_posts_path(@user.id) %> </button>
</div>