<div class="container">
  <section class="">
    <article>
      <%= image_tag("") %>
    </article>
    <article>
      <h2> <%= @author.name %> </h2>
      <p> Number of posts: <%= @author.posts_counter || 0 %> </p>
    </article>
  </section>

<% @author.posts.each do |post| %>
  <section class="">
    <div>
      <%= link_to post.title, user_posts_path(post) %>

      <p> <%= post.text %> </p>

      <div>
        <span> Comments: <%= post.comments_counter || 0 %>, Likes: <%= post.likes_counter || 0 %> </span>
      </div>
    </div>

    <div>
    <% if post.five_most_recent_comments.length > 0 %>
        <div>
          <% post.five_most_recent_comments.each do |comment| %>
            <div>
              <li> <%= comment.author.name %> : <%= comment.text %> </li>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
  <div>
    <%= link_to "Create new post", new_user_post_path %>
  <div>

  <div>
    <button type="submit"> Pagination </button>
  </div>
</div>